{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    {%block js%} {% endblock %}
    
    <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{BASE_DIR}}/static/main.css" />
    <link rel="stylesheet" href="{{BASE_DIR}}/static/drawing.css" />
    {%block css%} {% endblock %}
    <title>{% block title %}User test{% endblock %}</title>
</head>

<body>
    <div id="header">
    {% block header %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="{%url 'index'%}">清华在线评课系统</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/me/{{ request.user.username }}">我</a>
        </div>


        <div class="navbar-header">
                    <li class="menu dropdown">
                        <a href="#" class=" navbar-brand dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">课堂讨论区
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            {% for course in courses %}
                            <li><a href="/course/{{ course.id }}/">{{ course.C_Name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
        </div>

        <div class="navbar-header">
            <a class="navbar-brand" href="/logout/">登出</a>
        </div>

        <form class="navbar-form navbar-right" role="search" action="/search_course/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" name="searchContent">
                </div>
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </form>

    </nav>
    {% endblock %}
    </div>
    <div class="sub-header">
    {% block sub-title %}{% endblock %}
    </div>
    <div id="content">
    {% block content %}{% endblock %}
    </div>

    <div id="footer">
    {% block footer %}
    {% endblock %}
    </div>
</body>

</html>