{% extends "base.html" %}

{%block css%} <link rel="stylesheet" href="{{BASE_DIR}}/static/button.css" />
<link rel="stylesheet" href="{{BASE_DIR}}/static/list.css" />{% endblock %}

{% block sub-title %}
<h2>清华大学在线评课系统</h2>

{% endblock %}

{% block title %}学堂Plus{% endblock %}
{% block content %}



    <li class="list">
<h3>热门课程</h3>
<ol>
{% for hotc in hotBind %}
    {% for  hott in hotc %}
        {% if forloop.first %}
    <li>
        <div class="icon" title="No unread posts"><div></div></div>
        <div class="dis">
            <div class="inner">
            <a href="/course/{{ hott.id }}/">{{ hott.C_Name }}</a>
        </div>
        </div>

        <div class="stat">
            <div class="good info">评分：{{ hott.C_Rank }}</div>
        </div>
        <input id="{{ hott.id }}" type="button" class="btn btn-default likeBtn blue mybutton" value="不感兴趣" onclick="javascript:dislikeCourse(this)">
    </li>
        {%endif%}

        {% if forloop.last %}
            <li>

        <div class="stat">
            <div class="good info">短评：{{ hott }}</div>
        </div>

    </li>
        {%endif%}
{% empty %}
    <li>抱歉，目前还没有推荐课程。</li>
{% endfor %}
{% endfor %}
    </ol>
    </li>

    <li class="list">
<h3>推荐课程</h3>
<ol>
{% for recc in recBind %}
    {% for  rect in recc %}
        {% if forloop.first %}
    <li>
        <div class="icon" title="No unread posts"><div></div></div>
        <div class="dis">
            <div class="inner">
            <a href="/course/{{ rect.id }}/">{{ rect.C_Name }}</a>
        </div>
        </div>

        <div class="stat">
            <div class="good info">评分：{{ rect.C_Rank }}</div>
        </div>
        <input id="{{ rect.id }}" type="button" class="btn btn-default likeBtn blue mybutton" value="不感兴趣" onclick="javascript:dislikeCourse(this)">
    </li>
        {%endif%}

        {% if forloop.last %}
            <li>

        <div class="stat">
            <div class="good info">短评：{{ rect }}</div>
        </div>

    </li>
        {%endif%}
{% empty %}
    <li>抱歉，目前还没有推荐课程。</li>
{% endfor %}
{% endfor %}
    </ol>
    </li>


{#<li class="list">#}
{#<h3>好课推荐</h3>#}
{#<ol>#}
{#{% for recCourse in recCourses %}#}
{#    <li>#}
{#        <div class="icon" title="No unread posts"><div></div></div>#}
{#        <div class="dis">#}
{#            <div class="inner">#}
{#            <a href="/course/{{ recCourse.id }}/">{{ recCourse.C_Name }}</a>#}
{#        </div>#}
{#        </div>#}
{##}
{#        <div class="stat">#}
{#            <div class="good info">评分：{{ recCourse.C_Rank }}</div>#}
{#        </div>#}
{#        <input id="{{ recCourse.id }}" type="button" class="btn btn-default likeBtn blue mybutton" value="不感兴趣" onclick="javascript:dislikeCourse(this)">#}
{#    </li>#}
{#{% empty %}#}
{#    <li>抱歉，目前还没有推荐课程。</li>#}
{#{% endfor %}#}
{#    </ol>#}
{#    </li>#}


    <script type="text/javascript">

    function dislikeCourse(obj) {

        $.ajax
        ({
            url: '/dislike_course/',
            type: 'POST',
            data: {'courseID': obj.id},
            success: function(data) {
                window.location.href="/"
            }

        })
    }

    </script>
{% endblock %}