.navbar-inverse {
    background-color: #5a1bc4;
    border-color: #5a1bc4;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar {
    margin-bottom: 0;
}

#content {
    padding-left:0;
    padding-right: 0;
}