<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap core CSS -->
        <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{BASE_DIR}}/static/footer.css" />
    </head>

    <body>
    <footer class="footer">
	{% csrf_token %}
        <form method = "post">
            {% csrf_token %}
            <button type="submit" class="btn btn-lg btn-primary btn-block" value = "继续" style="background-color: #cacdfa; border-color: #cacdfa; color: black;">进入评课    ></button>
        </form>
    </footer>
    </body>
</html>

