<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap core CSS -->
        <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{BASE_DIR}}/static/signin.css" />
    </head>

    <body>
        <div class="form" >
            <div class="register">
                {% if error %}
                    <div class="mention" role="alert">
                        <p>{{ error }}</p>
                    </div>
                {% endif %}
                <form class="form-signin" action="/login/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="stid">
                        <dt>
                        <input class="form-control" type="text" placeholder="学号" id="id_studentid" maxlength="11" name="studentid" required autofocus>
                        </dt>
                    </div>

                    <div class="pass">
                        <dt>
                        <input class="form-control" type="password" placeholder="校园网密码" id="id_password" name="password" required>
                        </dt>
                    </div>

                    <button type="submit" class="btn btn-lg btn-primary btn-block" value="登录" style="background-color: #5a1bc4; border-color: #5a1bc4">登录</button>
                </form>
            </div>
        </div>
    </body>
</html>

