<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>登录</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" href="{{BASE_DIR}}/static/button.css" />
      <style>
          input{
              border: 1px solid;
              border-color: #41C7DB;
              padding: 0.5rem;
              margin: 1rem;
              width: 13rem;
          }
          .picture{
              background-color: white;
          }
      </style>
  </head>
  <body>
    <div class="page-group">
        <!-- 你的html代码 -->
        <div class="page">
            <div class="content">
                <div class="content-block">
                    <div class="picture" style="margin: 0 auto; width: 10rem; height: 10rem; text-align: center">picture</div>
                </div>
                <div class="content-block">
                    <div style="margin: 0 auto; text-align: center">
                        <form class="form-signin" action="/login/" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="text" placeholder="学号" maxlength="11" name="studentid" required autofocus>
                            <input type="password" placeholder="密码" name="password" required>
                            <button type="submit" value="登录" style="padding: 0.5rem 3rem; margin-top: 2rem">登录</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type='text/javascript' src='http://g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='http://g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='http://g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>

  </body>
</html>