<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>引导语</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" href="{{BASE_DIR}}/static/button.css" />
      <style>
          input[type=checkbox]{
              visibility: hidden;
          }
          .col-25{
              margin-bottom: 0.5rem;
          }
          label{
              border-color: gray;
              border: 1px solid;
              border-radius: 1rem;
              padding-left: 0.8rem;
              padding-right: 0.8rem;
          }
          .col-25 input[type=checkbox]:checked + label{
              border-color: #41C7DB;
              color: #41C7DB;
          }
      </style>
  </head>
  <body>
    <div class="page-group">
        <!-- 你的html代码 -->
        <div class="page">
            <header class="bar bar-nav" style="background-color: #41C7DB">
                <h1 class="title" style="color: white">选择你感兴趣的标签</h1>
            </header>
            <div class="content" style="margin-top: 0.5rem; background-color: white">
                <div class="content-block">
                    <form method="post">
                        {%  csrf_token %}
                            <div class="row" style="text-align: center;">
                                {%for label in labels  %}
                                    {% if label in mylabels %}
                                <div class="col-25">
                                    <div class="myCheckBox">
                                        <input type="checkbox" name="labelsubmit" id={{ label.id }} value={{ label.id }} checked="checked">
                                        <label for={{ label.id }}>{{ label }}</label>
                                    </div>
                                </div>
                                    {% else %}
                                    <div class="col-25">
                                    <div class="myCheckBox">
                                        <input type="checkbox" name="labelsubmit" id={{ label.id }} value={{ label.id }}>
                                        <label for={{ label.id }}>{{ label }}</label>
                                    </div>
                                </div>
                                    {% endif %}

                                {% endfor %}
                            </div>
                        <div style="text-align: center;">
                            <button type="submit" name="next" style="padding: 0.5rem 3rem; margin-top: 18rem">选择完毕，进入首页</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type='text/javascript' src='http://g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='http://g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='http://g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
    <script type="text/javascript">
        $.init()
        function disp_alert(){
			alert("标签选择完成，即将进入主界面")
		}
    </script>


  </body>

</html>