{% extends "base.html" %}

{%block css%}
<link rel="stylesheet" href="{{BASE_DIR}}/static/user.css" />{% endblock %}
{% block sub-title %}
<h2>编辑兴趣标签</h2>
{% endblock %}


{% block title %}学堂Plus{% endblock %}


{% block content %}

    <li class="sss">
      <div class="info">
	  
		<form method = "post">
			{% csrf_token %}
			<p>删除标签：</p>
			<select name="labels_followed">
			    {% for label in labels_followed %}
				<option value={{ label }}>{{ label }}</option>
                {% endfor %}
			</select>
			
			<input type = "submit" name = "delete" value ="删除">
			
			<br>
			
			<p>添加标签：</p>
			<select name="labels_unfollowed">
			    {% for label in labels_unfollowed %}
				<option value={{ label }}>{{ label }}</option>
                {% endfor %}
			</select>			
			
			<input type = "submit" name = "add" value ="添加">			
		</form>
		
		
		
		{% if user.U_NewUser == 1 %}
			</h3><br>您可以在这里设置您的兴趣标签，编辑完成后请点击继续。（以后可进行修改）<h3>
			<form method = "post">
				{% csrf_token %}
				<input type = "submit" name = "next" value ="继续" onclick="disp_alert()">
			<form>
			
		{% else %}
		
		{% endif %}
		
      </div>


    </li>
	
	
	
	<script type="text/javascript">
		function disp_alert(){
			alert("新手引导完成，即将进入主界面")
		}
	</script>
	       

{% endblock %}